.header{
    text-align: center;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0040fff5;
}
.sub-container{
    width: 100%;
    height: 700px;
}
.elements{
    width: 500px;
    height: 600px;
    background-color:rgb(255, 255, 255);
    margin-left: 420px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -10px
}
.ele-header{
    height: 60px;
}
.label1{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.label2{
    font-weight: lighter;
    color: rgb(73, 71, 71);
}
.form-div{
    margin-top: 10px;
}
.label3{
    width: 100px;
    margin-left: 20px;
    padding-left: 0%;
    color: #363738;
}
.fom{
    border: 2px;
    border-radius: 6px;

}
.select{
    width: 120px; 
    height: 35px; 
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.label4{
    width: 100px;
    margin-left: 32px;
    text-align: left;
    color: #363738;
}
.radio{
    margin: 20px;
}
.txtfeld{
     width: 210px;
     height: 35px;
     margin: 8px;
     border-radius: 10px;
}
.rad{
    height: 40px;
}
.rad1{
    margin-top: 5px;
    width: 25%;
    height: 25px;
    float: left;
    padding-top: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(56, 56, 56);
    margin-left: 25px;
    border-radius: 10px;
}
.rad2{
        margin-top: 5px;
    width: 25%;
    height: 25px;
    float: left;
    padding-top: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(56, 56, 56);
    margin-left: 34px;
    border-radius: 10px;
}
.rad3{
        margin-top: 5px;
    width: 25%;
    height: 25px;
    float: left;
    padding-top: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(56, 56, 56);
    margin-left: 34px;
    border-radius: 10px;
}
.num{
    height: 35px;
    width: 440px;
}
.p_in_form{
    width: 440px;
    margin-left: 30px;
    text-align: left;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444d4f;
}
.p_txt_decoration{
    text-decoration: none;
}
.btn{
    height: 35px;
    width: 180px;
    background-color: rgb(24, 146, 24);
    color: azure;
    border-radius: 5px;
    font-size: larger;
}
.container{
    background-color: #e4e9eb;
}
.in-container{
    background-color: #e4e9eb;
}
.in-left{
    height: 450px;
    width: 550px;
    padding-top: 150px;
    padding-left: 150px;
    float: left;
}
.in-heading{
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0040fff5;
    margin-top: 10px;
    margin-bottom: 10px;
}
.in-p{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2b2c2c;
}
.in-p-h1{
    
    width: 550px;
    height: 400px;
}
.in-form{
    width: 450px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 0px 20px -5px;
    border-radius: 8px;
}
.in-right{
    width: 450px;
    height: 600px;
    margin-left: 730px;
    padding-top: 120px;
    text-align: center;
}
.in-txt{
    width: 380px;
    height: 45px;
    margin-left: 1px;
    margin-top: 15px;
    border-radius: 8px;
    border-style: ridge;
}
.in-login{
    width: 380px;
    height: 45px;
    margin-top: 15px;
    background-color: #0040fff5;
    color: azure;
    font-size: x-large;
    border-radius: 8px;
    border-style: none;
}
.in-crt-btn{
    width: 200px;
    height: 45px;
    background-color: rgba(113, 192, 33, 0.952);
    color: rgb(252, 252, 252);
    font-size: larger;
    border-radius: 8px;
    border-style: none;
}